a {
	text-decoration: underline;
}
a.btn,
a.btn.btn-alt:hover {
	background: pink;
	color: #000;
	border: 1px solid #ddd;
	border-radius: 15px;
	text-decoration: none;
}
a.btn.btn-alt,
a.btn:hover {
	background: #ddd;
}
a.btn:hover .text-alt {
	color: #000;
}
a.text-alt:hover {
	color: pink;
}
body {
	margin: 0;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}
img.image-tile {
	height: 173px;
}
ul a,
ul a:hover {
	color: #f70e91;
}
ul.alt a,
ul.alt a:hover {
	color: #fff;
}

.icon {
	width: 54px;
	height: 63px;
	display: inline-block;
}
.icon.pinkcoin {
	background: transparent url("./images/pinkcoin_logo.png") center center no-repeat;
}
.padding {
	padding: 2em 0;
}
.text-alt {
	color: #F47983;
}

#header {
	background: pink url("./images/background.png") center top no-repeat;
	background-size: cover;
	padding-top: 2em;
}
#header .slogan {
	color: #fff;
}
#header a {
	text-decoration: none;
}
#header a:hover {
	text-decoration: underline;
}
#header a.btn {
	margin-left: 10px;
	margin-right: 10px;
	border: 0;
}
#header nav {
	line-height: 2em;
}
#logo {
	width: 24px;
}
#wallet-slice {
	margin-top: 2em;
	background: transparent url("images/new_pinkcoin_wallet.png") top center no-repeat;
	background-size: cover;
	height: 6em;
}


@media only screen and (min-width : 480px) {
	#wallet-slice {
		height: 8em;
	}
}
@media only screen and (min-width : 768px) {
	#wallet-slice {
		height: 10em;
	}
}
@media only screen and (min-width : 992px) {
	#wallet-slice {
		height: 14em;
	}
}
@media only screen and (min-width : 1200px) {
	#wallet-slice {
		height: 18em;
	}
}